
#app {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #F64C72;

  margin-top: 60px;
}
html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding: 0;
    width: 95%;
    color: purple;
    transition: background-color .5s linear;
    background-color: #282828;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,h2,h3,h4,h5,p{
    margin: 0;
    padding: 0;
    
}
/*Navigation*/
nav{
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 1000;
   background-color: #0C0032;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 1px;
    padding: 2px;
    transition: color .5s linear;
}
.right{
    float: right;
    margin-right: 10px;
    color: white;

}
.right li{
  padding: 5px;
}
.right li:hover{
  color:#F64C72;
}
li:hover{
    color: red;
}
#logo li:hover{
  color: white;
}
/*Main Content*/

.content{
    margin: 0 auto;
}
header{
    margin-top: 100px;
    margin-left: auto;
    width: 95%;
    text-align: center;
    min-height: 200px;
}
/*Footer*/

/*IDs */
#logo{
    position: absolute;
    left: 0;
}

header{
    height: 50%;
    color: white;
    text-align: center;
    padding-bottom: 20px;
   margin-left: px;
  }
  #leftCol{
    float: left;

  }
  #rightCol{
    color: white;

  }
  .col{
    width: 50%;
    height: 200px;
    border: 1px solid #ccc;

  }
  .row{
    display: flex;
    width: 95%;
    margin-top: 100px;
    margin-left: auto;
  }
  .bodyTitle{
    margin-top: 50px;
    text-align: center;
  }
  .contentBody{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .project{
    display: inline-block;
    height: 200px;
    width: calc(90%/3);
    max-width: 300px;
    margin: 0px 10px;
    background-color: #3500D3;
  }
  #homePage{
    background-color: #0C0032;
    position: absolute;
    left:0;
    right:0;
  }
  #projectsDisplay{
    width: 90%;
    text-align: center;
    margin: auto;
  }
.active{
    color: #F64C72;
    text-decoration: underline;
}
.active:hover{
    color: white;
}
.contactForm{
    margin-top: 100px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    background-color: white;
    padding-left: 20px;
    color: black;
    
}
.contactForm h5{
    color: #F64C72;
}
.contactForm textarea{
    width: 95%;
    height: 30%;
}
form{
    border: 2px solid #ccc;;
    
}

form:valid{
}

#project1:hover{
    transition: transform .3s linear;
    transform: rotate(-10deg) scale(1.1);
}
#project2:hover{
    transition: transform .3s linear;
    transform: scale(1.1);
}
#project3:hover{
    transition: transform .3s linear;
    transform: rotate(10deg) scale(1.1);
}
.topMenu{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
    background-color: #242582;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 10px;
}
.topMenu h1{
    margin-top: 20px;
}
.topMenu > div > a> i{
    margin: 0px 5%;
}
.fa-laptop-code:hover, .fa-briefcase:hover, .fa-school:hover{
    color:white;
}
.topMenu ~ section{
    width: 75%;
    margin: 0 auto;
    text-align: left;
}
.topMenu ~ section{
    margin-top: 150px;
}
h1 + h5{
    color:white;
    margin-left: 15px;
}
.projContent{
    margin-top: 20px;
    margin-left: 30px;
    width: 50%;
    min-height: 200px;
    background-color: #242582;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 10px;
    min-width: 290px;
    display: flex;
    flex-direction: column;
}
.projContent p a{
    color: purple;
}
.projContent p{
    font-size: .8rem;
    text-align: center;
    padding: 0 25px;
}
table{
    margin: 10px auto;
    vertical-align: middle;
    border-radius: 10px; 
    overflow: hidden;
    color: white;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
table td,th{
    padding: 5px;
}
thead{
    background: #522B72;
    color: white;
}

td{
   border: none;
}
tr:nth-child(even) {
  background-color: #553D67;
}


tbody tr:hover{
    opacity: .5;
}
td:nth-child(even){
    text-align: right;
}
tbody tr:nth-child(odd) {
  background-color: #99738E;
 color: black;
} 



td a{
    text-decoration: none;
}
td a:hover{
    color: greenyellow;
}

/*
select{
    
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
    
}*/
